# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/

.flutter-plugins

# Android Studio
*.iml
*.ipr
*.iws
.idea/

## Mac
.DS_Store

doc/api/

#Firebase
GoogleService-Info.plist
google-services.json
